.header-home {
    /*display: flex;
    justify-content: center;*/
    width: 100%;
}

.nav-links {
    /*margin-top: 30px;*/
    display: flex;
    
    justify-content: center;
    
    align-items: center;
    background: #023047;
    padding: 0px 15px;
    /*border-radius: 12px;*/
    box-shadow: 0 5px 10px rgba(213, 245, 236, 0.2);
}

.nav-links li {
    list-style: none;
    margin: 0 12px;
}

.nav-links li a {
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
}

.nav-links li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #219EBC;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.nav-links li a:hover:before {
    width: 100%;
}

.nav-links li.center a:before {
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li.upward a:before {
    width: 100%;
    bottom: -5px;
    opacity: 0;
}

.nav-links li.upward a:hover:before {
    bottom: 0px;
    opacity: 1;
}

.nav-links li.forward a:before {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.nav-links li.forward a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-login {
    width: 25vh;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #219EBC;
    font-weight: 600;
}

.btn-login:hover {
    color: white;
    background-color: #219EBC;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.btn-login:not(hover) {
    transform: scale(1);
    transition: all 0.3s ease;
}

.logo-header{
    width: 150px; 
}

