@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Josefin+Sans&display=swap");

.container-home-user {
  position: absolute;
  left: 280px;
  width: 1080px;
  height: 500px;
  text-align: center;
  font-size: 30px;
}

.titulo-equipos {
  font-family: "Black Ops One", sans-serif;
  color: rgb(104, 104, 104);
}

.subtitulo-equipos {
  font-family: "Black Ops One", sans-serif;
  color: #023047;
}

/* Boton de crear */

.button-create-project {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 6px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
}

.plus-create-project {
  font-size: 20px;
}

.button-create-project::before,
.button-create-project::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7d8082;
  transition: all 0.15s ease;
}

.button-create-project::before {
  top: 0;
  border-bottom-width: 0;
}

.button-create-project::after {
  bottom: 0;
  border-top-width: 0;
}

.button-create-project:active,
.button-create-project:focus {
  outline: none;
}

.button-create-project:active::before,
.button-create-project:active::after {
  right: 3px;
  left: 3px;
}

.button-create-project:active::before {
  top: 3px;
}

.button-create-project:active::after {
  bottom: 3px;
}

.button_lg-create-project {
  position: relative;
  display: block;
  padding: 30px 30px;
  color: #fff;
  background-color: #023047;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg-create-project::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg-create-project::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.button_sl-create-project {
  color: white;
  display: block;
  position: absolute;
  top: 0;
  bottom: -20px;
  left: -20px;
  width: 0;
  background-color: #e67e22;
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.button_text-create-project {
  position: relative;
}

.button-create-project:hover {
  color: #0f1923;
}

.button-create-project:hover .button_sl-create-project {
  width: calc(100% + 15px);
}

.button-create-project:hover .button_lg-create-project::after {
  background-color: #fff;
}

.project-view-container {
  width: 1080px;
  height: 300px;
  margin-top: 20px;
  text-align: center;
  align-items: center; /* 
  border: #000000 dotted; */
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  overflow-y: auto; /* Agrega un scrollbar vertical cuando sea necesario */
}

.icon-create-project {
  margin-top: 10px;
  font-size: 25px;
  display: flex;
  gap: 6px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.edit-icon:hover {
  color: rgb(0, 118, 0);
}

.edit-icon:active {
  transform: scale(1.2);
}

.delete-icon:hover {
  color: rgb(184, 0, 0);
}

.delete-icon:active {
  transform: scale(1.2);
}

.view-project {
  width: 200px;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #0f1923;
  background-color: #023047; /* Azul */
  color: #ffffff; /* Blanco para el texto */
  font-size: 15px;
  transition: 0.4s;
}

.view-project-decoration {
  text-align: center;
  justify-content: center;
  align-items: center;
  border: #ffffff solid 2px;
  width: 190px;
  height: 200px;
}

/* Estilo para resaltar al pasar el mouse */
.view-project:hover {
  background-color: #e67e22; /* Naranja */
  cursor: pointer;
}

/* Modal */
.Modal-information {
  position: absolute;
  width: 1200px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #023047; /* Fondo del modal */
  padding: 20px;
  border-radius: 8px;
  color: #ffffff; /* Color del texto en el modal */
  animation: fadeIn 0.5s ease-in-out; /* Animación de entrada suave */
  border: 2px solid #ffffff; /* Borde blanco de 2px */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4); /* Sombra brillante */
}

.Modal-update {
  position: absolute;
  width: 400px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #023047; /* Fondo del modal */
  padding: 20px;
  border-radius: 8px;
  color: #ffffff; /* Color del texto en el modal */
  animation: fadeIn 0.5s ease-in-out; /* Animación de entrada suave */
  border: 2px solid #ffffff; /* Borde blanco de 2px */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4); /* Sombra brillante */
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botón de cierre */
.Modal-update button {
  background-color: #0366d6; /* Fondo del botón */
  color: #ffffff; /* Color del texto del botón */
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.Modal-update button:hover {
  background-color: #054f9c; /* Cambia el color al pasar el ratón sobre el botón */
}

.Modal-update button:active {
  background-color: #033c79; /* Cambia el color al pasar el ratón sobre el botón */
}

.Modal-update .modal-content {
  background-color: #ffffff; /* Fondo del modal */
  padding: 20px 20px 120px 20px;
  border-radius: 8px;
  color: #000000; /* Color del texto en el modal */
}

.Modal-update label {
  display: block;
}

.Modal-update input {
  width: 340px;
  padding: 8px;
  margin-bottom: 16px;
  border: #023047 solid 2px;
  border-radius: 6px;
}

.Modal-update select {
  width: 360px;
  padding: 8px;
  margin-bottom: 16px;
  border: #023047 solid 2px;
  border-radius: 6px;
}

.Modal-update button.modal-update-button {
  background-color: #0366d6; /* Fondo del botón */
  color: #ffffff; /* Color del texto del botón */
  margin-top: 100px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.Modal-update button.modal-update-button:hover {
  background-color: #054f9c; /* Cambia el color al pasar el ratón sobre el botón */
}

.Modal-update button.modal-update-button:active {
  background-color: #033c79; /* Cambia el color al hacer clic en el botón */
}

.Modal-update button.modal-cancel-button {
  background-color: #aaaaaa; /* Fondo del botón de cancelar */
  color: #ffffff; /* Color del texto del botón de cancelar */
  padding: 10px 30px;
  margin-left: 110px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.Modal-update button.modal-cancel-button:hover {
  background-color: #888888; /* Cambia el color al pasar el ratón sobre el botón de cancelar */
}

.Modal-update button.modal-cancel-button:active {
  background-color: #666666; /* Cambia el color al hacer clic en el botón de cancelar */
}

.Modal-information {
  width: 500px;
}

.Modal-information .modal-content {
  padding: 20px;
  text-align: left;
}

.Modal-information .modal-details p {
  margin: 0;
  margin-bottom: 10px;
}

.Modal-information .modal-button {
  background-color: #0366d6;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.Modal-information .modal-button:hover {
  background-color: #054f9c;
}

.Modal-information .modal-button:active {
  background-color: #033c79;
}
.add-team-user {
  margin: 0;
  font-size: large;
  font-weight: 900;
}
.btn-add-user {
  margin-top: 15px;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0 0 40px 0.4px #73c98d;
  color: #27763b;
}

.ab {
  width: 532px;
  height: 200px; /* 
  border: white dotted; */
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 19px;
  font-family: "Black Ops One", sans-serif;
}

.Modal-information .modal-content {
  margin-top: 170px;
  padding: 20px;
  text-align: center;
  max-width: 400px; /* Ancho máximo del modal */
  max-height: 290px; /* Altura máxima del modal en relación con el 80% del viewport height */
  overflow-y: auto; /* Añade un scroll vertical cuando se supera la altura máxima */
}
/* 
.Modal-information .modal-details {
  margin-top: 100px;
} */ /* 

.Modal-information .modal-details p {
  margin: 0;
} */

.delete-member {
  background-color: transparent;
  width: 100px;
  border: white solid 1px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
  color: white;
}

.Modal-information .member-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 10px;
  transition: 0.4s;
}

.member-card:hover {
  background-color: white;
  color: #000000;
  transform: scale(1.06);
  .delete-member {
    background-color: rgb(247, 25, 25);
    color: white;
  }
}
.delete-member:active {
  scale: 0.9;
}

.Modal-information .member-card h4 {
  margin: 0;
}

.Modal-information .modal-button {
  background-color: #0366d6;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 20px;
}

.Modal-information .modal-button:hover {
  background-color: #054f9c;
}

.Modal-information .modal-button:active {
  background-color: #033c79;
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button-modal {
  background-color: #023047;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-modal:hover {
  background-color: #ffffff;
  color: #023047;
}

.button-details-teams {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #023047;
  cursor: pointer;
  transition: background-color 0.1s ease, color 0.3s ease;
}

.button-details-teams:hover {
  background-color: #b9b9b9;
}

.button-details-teams:active {
  background-color: #8f8e8e;
}

.alert-absolute {
  position: absolute;
  top: 0;
  right: 10px;
}
