.box-request-admin{
    margin-left: 280px;

}
.content-table {
    background-color: #ffffff;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 20px;
    margin-right: 20px;
}


.content-table thead tr {
    background-color:#023047;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.td-request-admin:hover{
    background-color: #ebe9e9;
}

.content-table tbody:hover {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.accept-request{
    cursor: pointer;
}
.exit-request{
    cursor: pointer;
}