.resource-table {
  display: flex;
  flex-wrap: wrap;
  background-color: #dedede;
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 280px;
  min-height: 100vh;
}
.title-resource {
  padding: 30px;
  font-size: 50px;
  text-align: center;
  color: black;
}
.search-resource {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-resource {
  height: 30px;
  margin-right: 20px;
  width: 400px;
}
.box-resource {
  width: 100%;
}

.border-search-resource {
  border: 1px solid white;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  background-color: #eae3e3;
}

.cont-table-resource {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.margin-table-resources {
  display: flex;
  justify-content: center;
}
.item-table-resource {
  margin: 10px;
  background-color: #fff;
  border-collapse: collapse;
  border: 2px solid #cccccc;
}
.head-table-resource:not(:last-child) {
  padding-right: 10px;
}
.row-one {
  background-color: #023047;
  color: white;
}
.body-table-resource {
  padding-left: 5px;
  border: 0.8px solid;
}
.btn-add-resource {
  background-color: #023047;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  font-weight: bolder;
}

.edit-trash-resource {
  text-decoration: none;
  color: #023047;
}
.trash-resource {
  cursor: pointer;
}
