/* Estilos generales */
.sidebar-user {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 280px;
    background-color: #F6F6F6;
    border-right: #023047 solid 2px;
}

.container-nombre-user {
    position: relative;
    width: 274px;
    height: 100px;
}

.sidebar-nombre-user {
    top: 18px;
    left: 36px;
    position: absolute;
    font-size: 40px;
    color: #000;
    text-shadow: 0 0 10px rgba(000, 000, 000, 0.3);
    font-family: sans-serif;
    font-weight: bold;
}

.logo-container-user {
    width: 270px;
    height: 110px;
}

.logo-img-user {
    position: absolute;
    top: 60px;
    left: 55px;
    height: 160px;
    width: 160px;
}

/* Sidebar Usuario */

.rec-user {
    display: flex;
    color: black;
    font-size: 20px;
    margin-left: 40px;
    gap: 10px;
    cursor: pointer;
}

.rec-user:hover {
    color: #fb8500;
}

.rec-user:active {
    color: #bc6501;
}

.fav-user {
    display: flex;
    color: black;
    font-size: 20px;
    margin-left: 40px;
    gap: 10px;
    cursor: pointer;
}

.fav-user:hover {
    color: #fb8500;
}

.fav-user:active {
    color: #bc6501;
}

.list-container-user {
    margin-top: 30px;
    width: 275px;
    height: 150px;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-template-columns: 10px;
}

.list-style-user {
    width: 250px;
    height: 35px;
    background-color: #023047;
    color: white;
    border-style: solid;
    border-color: gray;
    border-radius: 8px;
    margin-top: 10px;
}

.container-buttons-user {
    width: 275px;
    height: 120px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 20px;
}


.buttons-user {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #023047;
    color: white;
    border-style: solid;
    border-color: gray;
    border-radius: 8px;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.2s;
}

.button-content {
    display: block;
}

.button-hover-content {
    display: none;
    font-size: 20px;
    position: absolute;
    top: 22px;
    left: 22px;
}

.buttons-user:hover {
    background-color: #e67e22;
    /* Cambiamos el color de fondo al hacer hover */
}

.buttons-user:active {
    background-color: #b46000;
}

.buttons-user:hover .button-content {
    display: none;
}

.buttons-user:hover .button-hover-content {
    display: block;
}




/* Media query para hacer el navbar responsivo */

/* @media only screen and (max-width: 768px) {
    .sidebar {
        width: 20%; 
    }

    .container-nombre {
        position: relative;
        width: 40px;
        height: 10px;
    }
    
    .sidebar-nombre {
        top: 30px;
        left: 34px;
        position: absolute;
        font-size: 15px;
        color: #ffffff;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
        font-family: sans-serif;
        font-weight: bold;
    }
    
    .logo-container {
        width: 80px;
        height: 80px;
        margin-bottom: 50px;
        margin-left: 90px;
    }
    
    .logo-img {
        height: 20px;
        width: 20px;
    }
    
    .desing-list li {
        font-size: 20px;
        list-style: none;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    
    .nav_list li a {
        text-decoration: none;
        color: white;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
    
    .icon-sidebar {
        position: absolute;
        color: white;
        margin-left: 100px;
    }
    
    .contain-li {
        height: 36px;
        width: 200px;
        border-color: #8ECAE6;
        padding-left: 20px;
        padding-right: 20px;
        border-style: solid;
        display: flex;
        align-items: center;
        justify-content: left;
        border-radius: 10px;
    }
} */