.box-tar-user {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 40px;
  width: 600px;
  height: 460px;
  text-align: center;
}
.name-tar-user {
  padding: 10px;
}

.box-pet-user {
  height: 200px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.cart-tar-user {
  border: 2px solid rgba(2, 45, 69, 0.434);
  border-radius: 25px;
  box-shadow: 0 0 30px 2px rgb(97, 102, 107);
  width: 300px;
}

.span-home {
  color: white;
}

.header-tarea {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  padding: 10px;
  background-color: rgba(3, 24, 62, 0.831);
  color: aliceblue;
  font-size: large;
  font-weight: bold;
}

.span-name {
  color: rgb(55, 54, 54);
  font-size: large;
  font-weight: 800;
}

.finish-task {
  color: white;
  font-weight: bolder;
  background-color: green;
  margin-top: 20px;
  border-radius: 8px;
  width: 80px;
  height: 30px;
}

.finish-task:active {
  background-color: rgb(1, 100, 1);
}

.modal-cancel-task-button {
  border: white solid 1px;
  background-color: red;
  color: white;
  font-weight: lighter;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  margin-left: 40px;
  position: fixed;
  top: 0;
}

.modal-cancel-task-button:hover {
  background-color: rgb(194, 3, 3);
}

.modal-cancel-task-button:active {
  background-color: rgb(154, 3, 3);
}
